/* Main Primary color */
/* Main Complement color */
.judson-serif {
  font-family: 'Judson', serif;
  color: black;
  text-shadow: 0.15px 1px 0.1px black;
}
.mon-serif {
  font-family: 'Montserrat', sans-serif;
  color: black;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
body {
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  position: absolue;
  display: block;
  height: auto;
  width: 100vw;
  background: url('https://cdn.discordapp.com/attachments/644333219512188928/644357514607067156/auction-image.png');
  overflow: hidden;
}
button {
  padding: 5px;
  text-shadow: 0.15px 1px 0.1px black;
  font-size: 1.3rem;
}
a {
  color: #e3c6d2;
}
.icons {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .icons {
    width: 95vw;
  }
}
.icons li > a > img {
  transform: scale(1);
  margin: auto 5px auto 5px;
  box-shadow: none;
  border-radius: 5px;
  border: 1px inset white;
  transition: all 0.5s ease-in-out;
}
.icons li > a > img:hover {
  transform: scale(1.09);
  box-shadow: white 3px 3px 40px 3px;
  transition: all 0.75s ease-in-out;
}
* {
  box-sizing: border-box;
}
.container {
  position: absolute;
  top: 12vh;
  margin-top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.discordapp.com/attachments/644333219512188928/644357514607067156/auction-image.png");
  z-index: 0;
}
.container h1 {
  display: flex;
  font-size: 9rem;
  margin-bottom: 8vh;
  justify-content: center;
  padding-bottom: 10vh;
  font-weight: bold;
  text-shadow: 3px 3px 15px #000;
  color: #1e27ac;
}
@media (max-width: 1000px) and (min-width: 500px) {
  .container h1 {
    font-size: 6rem;
  }
}
@media (max-width: 500px) {
  .container h1 {
    font-size: 5rem;
  }
}
.container nav {
  display: flex;
}
@media (max-width: 1000px) and (min-width: 500px) {
  .container nav {
    display: block;
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .container nav {
    flex-direction: column;
  }
}
.container nav a {
  display: flex;
  margin: 2%;
  margin-bottom: 8vh;
  width: 22vw;
  height: 20vh;
  text-decoration: none;
  justify-content: space-evenly;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.45);
  align-items: center;
  color: #1e27ac;
  border: 1px solid black;
  transition: all 0.75s ease-in-out;
  box-shadow: 3px 9px 15px #000;
}
@media (max-width: 1000px) and (min-width: 500px) {
  .container nav a {
    flex-direction: column;
    width: 96vw;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    justify-content: center;
    margin: 2.5%;
    font-size: 2rem;
  }
}
@media (max-width: 1000px) and (min-width: 500px) {
  .container nav a {
    margin: auto 25px auto 10px;
  }
}
@media (max-width: 500px) {
  .container nav a {
    font-size: 3rem;
    width: 95vw;
  }
}
.container nav a:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  opacity: 1;
  transform: scale(1.09);
  transition: all 0.5s ease-in-out;
  border: 4px ridge white;
}
.footers {
  height: 20vh;
  bottom: 0;
  width: 95vw;
  height: 12vh;
  margin-bottom: -25px;
  position: fixed;
  font-size: 3rem;
  left: 15%;
}
.con-hm {
  position: fixed;
  width: 100vw;
  justify-content: space-around;
  height: 12vh;
  padding: 0px;
  background: url('../images/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  top: 0px;
  box-shadow: 3px 9px 15px #000;
}
.about-container {
  position: fixed;
  width: 600px;
  bottom: 0;
  font-size: 4rem;
  left: 50%;
}
.about-container #about {
  position: fixed;
  font-size: 4rem;
  left: 40%;
  bottom: 50%;
  color: #1e27ac;
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 255, 0.025);
  text-shadow: 0.15px 1px 0.1px black;
}
.about-container #about:hover {
  transform: scale(1.04);
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 1px 35px 1px white;
  cursor: pointer;
}
.about-container #about-con {
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  height: 300px;
  background: rgba(87, 82, 84, 0.89);
  border-radius: 15px;
  display: none;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 25px;
  margin-left: -50%;
  font-family: 'Montserrat', sans-serif;
  color: black;
  box-shadow: 3px 9px 15px #000;
}
h3.what {
  padding: 5px;
  margin: 5px auto 0 auto;
  text-align: center;
  font-size: 3.2rem;
  width: 100%;
  color: #e3c6d2;
  background: #253956;
  text-shadow: 3px 3px 15px #000;
}
h3.what p {
  line-height: 6rem;
}
.pclass {
  font-family: 'Archivo', sans-serif;
  text-shadow: 3px 3px 15px #000;
  letter-spacing: 1.25px;
  font-size: 2.55rem;
  color: #e3c6d2;
  line-height: 28px;
  background: rgba(114, 100, 106, 0.68);
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-image: url("https://cdn.discordapp.com/attachments/644333219512188928/644357514607067156/auction-image.png");
}
body.contact-bod .c-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body.contact-bod .c-container nav {
  display: flex;
}
@media (max-width: 500px) {
  body.contact-bod .c-container nav {
    flex-direction: column;
  }
}
body.contact-bod .c-container nav .nav-link {
  display: flex;
  margin: 1.5%;
  width: 20vw;
  height: 10vh;
  text-decoration: none;
  justify-content: space-around;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.45);
  color: black;
  border: 1px solid black;
  transition: all 0.75s ease-in-out;
  box-shadow: 3px 9px 15px #000;
}
@media (max-width: 500px) {
  body.contact-bod .c-container nav .nav-link {
    font-size: 3rem;
    margin: auto 25px auto 5px;
    width: 95vw;
  }
}
body.contact-bod .c-container nav .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  opacity: 1;
  transform: scale(1.09);
  transition: all 0.5s ease-in-out;
  border: 4px ridge white;
}
body.contact-bod .main-con {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 500px) {
  body.contact-bod .main-con {
    flex-direction: column;
    width: 100vw;
  }
}
@media (max-width: 1000px) and (min-width: 500px) {
  body.contact-bod .main-con {
    flex-direction: column;
    width: 100vw;
  }
}
body.contact-bod .main-con h2 {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100vw;
  font-size: 7rem;
  font-weight: bold;
  text-shadow: 3px 3px 50px black;
  margin: 2%;
}
@media (max-width: 1000px) and (min-width: 500px) {
  body.contact-bod .main-con h2 {
    font-size: 6rem;
  }
}
@media (max-width: 500px) {
  body.contact-bod .main-con h2 {
    font-size: 5rem;
    width: 95vw;
  }
}
body.contact-bod .main-con .meet-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #a4adba;
  border: 1px solid black;
  width: 45vw;
  margin: 1%;
  padding: 0% 2% 2% 2%;
  transition: all 0.5s ease-in-out;
  box-shadow: 3px 9px 15px #000;
}
body.contact-bod .main-con .meet-me:hover {
  background-color: white;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 1000px) and (min-width: 500px) {
  body.contact-bod .main-con .meet-me {
    flex-direction: column;
    width: 96vw;
    padding-bottom: 2vh;
    justify-content: center;
    margin: 2.5%;
    margin: auto 25px 20px 5px;
  }
}
@media (max-width: 500px) {
  body.contact-bod .main-con .meet-me {
    width: 95vw;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    justify-content: center;
    margin: auto 25px 10px 5px;
  }
}
body.contact-bod .main-con .meet-me h3 {
  width: 100vw;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 2%;
  margin-top: 1%;
}
body.contact-bod .main-con .meet-me h4 {
  width: 100vw;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2%;
}
body.contact-bod .main-con .meet-me p {
  font-size: 1.5rem;
}
.main {
  position: absolute;
  width: 100vw;
  height: 95vh;
  display: flex;
  background: #e3c6d2;
  flex-wrap: wrap;
  justify-content: center;
  overflow: none;
}
@media (max-width: 500px) {
  .main {
    display: block;
    padding: 0px;
  }
}
.main .container-h {
  display: flex;
  width: 100vw;
  position: fixed;
  justify-content: space-around;
  height: 12vh;
  padding: 5px;
  background: url('../images/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 15px #000;
}
@media (max-width: 1000px) and (min-width: 500px) {
  .main .container-h {
    display: flex;
  }
}
@media (max-width: 500px) {
  .main .container-h {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100vw;
    background: none;
    z-index: 25;
  }
}
.main .container-h .h-button {
  height: 10vh;
  border-radius: 1px;
  width: 10vw;
  padding: 5px;
  transition: all 0.45s ease-in-out;
  background: rgba(87, 82, 84, 0.89);
  color: black;
  font-family: 'Judson', serif;
  font-size: 2.1rem;
  box-shadow: 3px 9px 15px #000;
}
@media (max-width: 1000px) and (min-width: 500px) {
  .main .container-h .h-button {
    width: 24vw;
  }
}
@media (max-width: 500px) {
  .main .container-h .h-button {
    width: 90vw;
    height: 6vh;
    z-index: 10;
    margin-left: 10px;
  }
}
.main .container-h .h-button > a {
  color: black;
  font-family: 'Judson', serif;
  text-shadow: none;
}
.main .container-h .button:hover {
  transition: all 0.45s ease-in-out;
  transform: scale(1.02);
  border: 2px ridge white;
  box-shadow: inset black 2px 2px 50px 2px;
  color: antiquewhite;
}
.main .container-h .button:hover a:hover {
  transition: all 0.45s ease-in-out;
  transform: scale(1.02);
  color: antiquewhite;
}
.main .main-content {
  width: 80vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  justify-content: flex-start;
  background-size: contain;
  align-self: center;
}
@media (max-width: 500px) {
  .main .main-content {
    position: relative;
    width: 100vw;
    display: block;
    padding: 5px;
    margin: 0;
    margin-top: 5px;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: top 0px 5px;
    background-size: contain;
  }
}
.main .main-content .line-1 {
  margin-top: 5vh;
  display: grid;
  position: relative;
  box-shadow: outset 3px 2px 2px 2px black, -3px -2px 2px -2px rgba(59, 78, 107, 0.5);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: stretch;
  grid-gap: 10px;
  overflow-x: scroll;
  background: #768498;
  padding-top: 10px;
}
@media (max-width: 1000px) and (min-width: 500px) {
  .main .main-content .line-1 {
    overflow-x: scroll;
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .main .main-content .line-1 {
    width: 90vw;
    padding-top: 150px;
    display: block;
    overflow: hidden;
    background: transparent;
    position: absolute;
  }
}
.main .main-content .line-1 .panels {
  width: 15vw;
  height: 22vh;
  margin: 15px;
  border-radius: 2px;
  border: 4px ridge #768498;
  padding: 5px;
  background: rgba(0, 0, 0, 0.75);
  transition: all 0.35s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px -9px 15px #000;
}
@media (max-width: 1000px) and (min-width: 500px) {
  .main .main-content .line-1 .panels {
    height: 200px;
    width: 200px;
    margin: 10px 20px 40px 20px;
    padding: 2px;
  }
}
@media (max-width: 500px) {
  .main .main-content .line-1 .panels {
    display: block;
    width: 90vw;
    min-height: 50vh;
    max-height: 50vh;
    margin: 10px 20px 40px 20px;
    padding: 5px;
  }
}
.main .main-content .line-1 .panels img {
  left: 0;
  position: relative;
  min-width: 10vw;
  min-height: 13vh;
  margin: 5px 5px 0px 15px;
}
@media (max-width: 500px) {
  .main .main-content .line-1 .panels img {
    width: 60%;
    margin: 50px;
    height: 70%;
  }
}
.main .main-content .line-1 .panels .items {
  max-width: 100%;
  max-height: 80%;
}
.main .main-content .line-1 .panels .bid {
  display: flex;
  position: relative;
  width: 100%;
  height: 5vh;
  background: rgba(114, 100, 106, 0.68);
  bottom: 0;
  padding: 0.5% 0 0.5% 0;
  justify-content: space-around;
  font-size: 1.9rem;
}
.main .main-content .line-1 .panels .bid .amt {
  font-family: 'Judson', serif;
  color: black;
  text-shadow: 0.15px 1px 0.1px black;
  width: 70%;
  font-size: 1.9rem;
  margin: 3px 20px 3px 20px;
}
@media (max-width: 1000px) and (min-width: 500px) {
  .main .main-content .line-1 .panels .bid .amt {
    width: 80px;
    margin: 3px 10px 3px 10px;
  }
}
@media (max-width: 500px) {
  .main .main-content .line-1 .panels .bid .amt {
    width: 60vw;
    margin: 0;
  }
}
.main .main-content .line-1 .panels .bid button {
  padding: 0;
  margin: 0 0px;
  width: 5vw;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1.3rem;
  box-shadow: 3px 9px 15px #000;
}
@media (max-width: 500px) {
  .main .main-content .line-1 .panels .bid button {
    width: 20vw;
    margin-right: 10px;
  }
}
.main .main-content .line-1 .panels:hover {
  min-height: 22vh;
  transition: all 0.15s ease-in-out;
  border: 4px ridge white;
  box-shadow: #e3c6d2 0px 0px 20px 0px;
}
@media (max-width: 500px) {
  .main .main-content .line-1 .panels:hover {
    width: 90vw;
    min-height: 50vh;
    max-height: 50vh;
    transform: scale(1.01);
  }
}
.main .footer {
  position: fixed;
  height: 20vh;
  bottom: 0;
  width: 95vw;
  height: 15vh;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: rgba(164, 173, 186, 0.78);
  border: 4px outset rgba(59, 78, 107, 0.5);
}
@media (max-width: 1000px) and (min-width: 500px) {
  .main .footer {
    display: none;
  }
}
.main .footer .adds {
  display: flex;
  justify-content: space-around;
}
a.cr {
  color: blue;
  font-size: 1.9rem;
}
.add-img {
  margin-top: 5px;
  transition: all 0.15s ease-in-out;
  animation: pulse 2s infinite;
  box-shadow: 3px 9px 15px #000;
}
.add-img:hover {
  transform: scale(1.4);
}
.add-img2 {
  margin-top: 5px;
  transition: all 0.15s ease-in-out;
  animation: pulse2 2s infinite;
  box-shadow: 3px 9px 15px #000;
}
.add-img2:hover {
  transform: scale(2.4);
}
.logo-img {
  margin: 10%;
}
@keyframes pulse {
  0% {
    border: 4px dashed yellow;
  }
  50% {
    border: 2px dashed black;
  }
  100% {
    border: 2px dashed red;
  }
}
@keyframes pulse2 {
  0% {
    border: 2px dashed black;
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(20deg);
  }
  40% {
    border: 4px dashed yellow;
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  100% {
    border: 2px dashed red;
    transform: rotate(0deg);
  }
}
.details {
  display: none;
  position: absolute;
  background: white;
  border: 5px ridge black;
  width: 60vw;
  height: 80vh;
  left: 35%;
  top: 10%;
  z-index: 100;
}
@media (max-width: 500px) {
  .details {
    position: fixed;
    left: 0;
    width: 100vw;
  }
}
.details .items {
  width: 100%;
  height: 100%;
}
#featured {
  position: fixed;
  margin-top: 12vh;
  width: 50vw;
  min-width: 50vw;
  text-align: center;
  padding: 10px;
  background: transparent;
  font-size: 2.3rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
}
@media (max-width: 500px) {
  #featured {
    display: none;
  }
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e3c6d2;
}
::-webkit-scrollbar {
  height: 20px;
}
::-webkit-scrollbar-thumb {
  border: 7px ridge #768498;
  width: 25px;
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  background: rgba(114, 100, 106, 0.68);
  padding: 10px;
}
body {
  overflow-y: scroll;
}
body .con-h {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  height: 12vh;
  padding: 5px;
  background: url('../images/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  box-shadow: 3px 9px 15px #000;
}
@media (max-width: 500px) {
  body .con-h {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 60vh;
    background: url('../images/logo.png');
    background-size: cover;
    background-position: 0px 0px ;
    background-repeat: no-repeat;
    z-index: 15;
  }
}
body .con-h #upcomming-header {
  color: #e3c6d2;
  text-shadow: 0.25px 0.25px 0px rgba(114, 100, 106, 0.68), -0.25px 0px 0.5px rgba(114, 100, 106, 0.68);
  font-size: 3.5rem;
}
body .con-h .but {
  height: 10vh;
  border-radius: 1px;
  width: 10vw;
  padding: 5px;
  padding: 0;
  transition: all 0.25s ease-in-out;
  background: rgba(87, 82, 84, 0.89);
  font-family: 'Archivo Black', sans-serif;
  color: rgba(164, 173, 186, 0.78);
  font-size: 1.9rem;
}
@media (max-width: 500px) {
  body .con-h .but {
    width: 100vw;
    height: 16vh;
    color: #e3c6d2;
    text-shadow: 0.25px 0.25px 0px rgba(114, 100, 106, 0.68), -0.25px 0px 0.5px rgba(114, 100, 106, 0.68);
  }
}
body .con-h .but:hover {
  transition: all 0.45s ease-in-out;
  transform: scale(1.02);
  border: 2px ridge white;
  box-shadow: inset black 2px 2px 50px 2px;
  color: antiquewhite;
}
body .divTable {
  margin-top: 50px;
  margin-left: 10%;
  display: table;
  width: 80%;
  top: 240px;
  font-family: 'Judson', serif;
  color: black;
  text-shadow: 0.15px 1px 0.1px black;
  font-size: 2.1rem;
  background: rgba(205, 205, 215, 0.7);
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  body .divTable {
    margin: 0;
    width: 95vw;
  }
}
body .divTableRow {
  display: table-row;
  height: 7vh;
}
@media (max-width: 500px) {
  body .divTableRow {
    margin: 0;
    height: 5vh;
  }
}
body td,
body th {
  text-align: center;
  border: 5px solid rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
}
.footer {
  position: fixed;
  bottom: 0;
}
