@import "var";


* {

	overflow: hidden;
}

body {
	scrollbar-color: rebeccapurple green;
	scrollbar-width: thin;
	position: absolue;
	display: block;
	height: auto;
	width: 100vw;
	background: url('https://cdn.discordapp.com/attachments/644333219512188928/644357514607067156/auction-image.png');


}


button {
	padding:5px;
	text-shadow: (@text-shadow);
	font-size: 1.3rem;


}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: @rgba-complement-1;



}

::-webkit-scrollbar {
	height: 20px;

} 

::-webkit-scrollbar-thumb {
	border:7px ridge @rgba-primary-2;
	width:25px;
	border-radius: 10px;	
}

::-webkit-scrollbar-track-piece{
	background: @rgba-complement-4;
	padding:10px;
}

// ::-webkit-scrollbar-track
// {
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	background-color: #F5F5F5;
// }

// ::-webkit-scrollbar
// {
// 	width: 10px;
// 	background-color: #F5F5F5;
// }

// ::-webkit-scrollbar-thumb
// {
// 	background-color: #000000;
// 	border: 2px solid #555555;
// }
