@import "var";


body {
	scrollbar-color: rebeccapurple green;
	scrollbar-width: thin;
	position: absolue;
	display: block;
	height: auto;
	width: 100vw;
	background: url('https://cdn.discordapp.com/attachments/644333219512188928/644357514607067156/auction-image.png');
	overflow: hidden;

}


button {
	padding:5px;
	text-shadow: (@text-shadow);
	font-size: 1.3rem;
	


}
a{
	color:@rgba-complement-1;
}

