/* Main Primary color */
/* Main Complement color */
.judson-serif {
  font-family: 'Judson', serif;
  color: black;
  text-shadow: 0.15px 1px 0.1px black;
}
.mon-serif {
  font-family: 'Montserrat', sans-serif;
  color: black;
}
* {
  box-sizing: border-box;
}
.container {
  position: absolute;
  top: 12vh;
  margin-top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.discordapp.com/attachments/644333219512188928/644357514607067156/auction-image.png");
  z-index: 0;
}
.container h1 {
  display: flex;
  font-size: 9rem;
  margin-bottom: 8vh;
  justify-content: center;
  padding-bottom: 10vh;
  font-weight: bold;
  text-shadow: 3px 3px 15px #000;
  color: #1e27ac;
}
@media (max-width: 1000px) and (min-width: 500px) {
  .container h1 {
    font-size: 6rem;
  }
}
@media (max-width: 500px) {
  .container h1 {
    font-size: 5rem;
  }
}
.container nav {
  display: flex;
}
@media (max-width: 1000px) and (min-width: 500px) {
  .container nav {
    display: block;
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .container nav {
    flex-direction: column;
  }
}
.container nav a {
  display: flex;
  margin: 2%;
  margin-bottom: 8vh;
  width: 22vw;
  height: 20vh;
  text-decoration: none;
  justify-content: space-evenly;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.45);
  align-items: center;
  color: black;
  border: 1px solid black;
  transition: all 0.75s ease-in-out;
  box-shadow: 3px 9px 15px #000;
}
@media (max-width: 1000px) and (min-width: 500px) {
  .container nav a {
    flex-direction: column;
    width: 96vw;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    justify-content: center;
    margin: 2.5%;
    font-size: 2rem;
  }
}
@media (max-width: 1000px) and (min-width: 500px) {
  .container nav a {
    margin: auto 25px auto 10px;
  }
}
@media (max-width: 500px) {
  .container nav a {
    font-size: 3rem;
    width: 95vw;
  }
}
.container nav a:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  opacity: 1;
  transform: scale(1.09);
  transition: all 0.5s ease-in-out;
  border: 4px ridge white;
}
.footer {
  position: fixed;
  bottom: 0;
  font-size: 3rem;
  left: 30%;
}
.con-hm {
  position: fixed;
  width: 100vw;
  justify-content: space-around;
  height: 12vh;
  padding: 0px;
  background: url('../images/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  top: 0px;
  box-shadow: 3px 9px 15px #000;
}
.about-container {
  position: absolute;
  display: flex;
  width: 600px;
  bottom: 0;
  font-size: 4rem;
  left: 50%;
}
.about-container #about-con {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  height: 300px;
  background: #e3c6d2;
  border-radius: 15px;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 25vh;
  margin-left: -50%;
  font-family: 'Montserrat', sans-serif;
  color: black;
  box-shadow: 3px 9px 15px #000;
}
.about-container .what {
  padding: 5px;
  margin: 5px auto 0 auto;
  text-align: center;
  font-size: 3.2rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  text-shadow: 0.15px 1px 0.1px black;
}
.about-container #about {
  position: fixed;
  bottom: 0;
  font-size: 4rem;
  left: 50%;
  transition: all 0.5s ease-in-out;
  font-family: 'Archivo Black', sans-serif;
  color: #253956;
  text-shadow: 0.15px 1px 0.1px black;
}
.about-container #about:hover {
  transform: scale(1.04);
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 1px 35px 1px white;
  cursor: pointer;
}
