/* Main Primary color */
/* Main Complement color */
.judson-serif {
  font-family: 'Judson', serif;
  color: black;
  text-shadow: 2px 1px 2px black;
}
.mon-serif {
  font-family: 'Montserrat', sans-serif;
  color: black;
}
body .main {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: none;
}
@media (max-width: 500px) {
  body .main {
    display: block;
    padding: 0px;
  }
}
body .main .container-h {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  height: 12vh;
  padding: 5px;
  background: url('../images/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  body .main .container-h {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100vw;
    background: none;
  }
}
body .main .container-h .h-button {
  height: 10vh;
  border-radius: 1px;
  width: 10vw;
  padding: 5px;
  transition: all 0.45s ease-in-out;
  background: rgba(87, 82, 84, 0.59);
  color: black;
  font-family: 'Judson', serif;
  font-size: 2.1rem;
}
@media (max-width: 500px) {
  body .main .container-h .h-button {
    width: 90vw;
    height: 6vh;
    z-index: 10;
    margin-left: 10px;
  }
}
body .main .container-h .h-button > a {
  color: black;
  font-family: 'Judson', serif;
  text-shadow: none;
}
body .main .container-h .button:hover {
  transition: all 0.45s ease-in-out;
  transform: scale(1.02);
  border: 2px ridge white;
  box-shadow: inset black 2px 2px 50px 2px;
  color: antiquewhite;
}
body .main .container-h .button:hover a:hover {
  transition: all 0.45s ease-in-out;
  transform: scale(1.02);
  color: antiquewhite;
}
body .main .main-content {
  width: 80vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  justify-content: flex-start;
  background-size: contain;
  align-self: center;
}
@media (max-width: 500px) {
  body .main .main-content {
    position: relative;
    width: 100vw;
    display: block;
    padding: 5px;
    margin: 0;
    margin-top: -35px;
    z-index: 0;
    background: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: top 0px 5px;
    background-size: contain;
  }
}
body .main .main-content .line-1 {
  margin-top: 5vh;
  display: grid;
  position: relative;
  box-shadow: outset 3px 2px 2px 2px black, -3px -2px 2px -2px rgba(59, 78, 107, 0.5);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: stretch;
  grid-gap: 25px;
  overflow-x: scroll;
  background-size: 800px 400px;
  background: rgba(59, 78, 107, 0.5);
}
@media (max-width: 500px) {
  body .main .main-content .line-1 {
    width: 90vw;
    padding-top: 150px;
    display: block;
    overflow: hidden;
    background: transparent;
    position: absolute;
  }
}
body .main .main-content .line-1 .panels {
  width: 15vw;
  height: 25vh;
  margin: 15px;
  border-radius: 2px;
  border: 4px ridge #768498;
  padding: 0;
  background: rgba(114, 100, 106, 0.68);
  transition: all 0.35s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(../images/gavelSmall.png);
}
@media (max-width: 500px) {
  body .main .main-content .line-1 .panels {
    width: 90vw;
    min-height: 50vh;
    max-height: 50vh;
    margin: 10px 5px 10px 20px;
    padding: 5px;
  }
}
body .main .main-content .line-1 .panels img {
  left: 0;
  position: relative;
  min-width: 15vw;
  min-height: 19vh;
}
@media (max-width: 500px) {
  body .main .main-content .line-1 .panels img {
    width: 100%;
    margin-top: 20px;
    min-height: 40vh;
    height: 80%;
    max-height: 80%;
  }
}
body .main .main-content .line-1 .panels .items {
  max-width: 100%;
  max-height: 80%;
}
body .main .main-content .line-1 .panels .bid {
  display: flex;
  position: relative;
  width: 100%;
  height: 5vh;
  background: rgba(114, 100, 106, 0.68);
  bottom: 0;
  padding: 0.5% 0 0.5% 0;
  justify-content: space-around;
  font-size: 1.9rem;
}
body .main .main-content .line-1 .panels .bid .amt {
  font-family: 'Judson', serif;
  color: black;
  text-shadow: 2px 1px 2px black;
  font-size: 1.9rem;
}
body .main .main-content .line-1 .panels .bid button {
  padding: 0;
  margin: 0 0px;
  width: 5vw;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1.3rem;
}
body .main .main-content .line-1 .panels:hover {
  min-height: 22vh;
  transition: all 0.15s ease-in-out;
  border: 4px ridge white;
  box-shadow: #e3c6d2 0px 0px 20px 0px;
}
@media (max-width: 500px) {
  body .main .main-content .line-1 .panels:hover {
    width: 90vw;
    min-height: 50vh;
    max-height: 50vh;
    transform: scale(1.01);
  }
}
body .main .footer {
  position: relative;
  margin: 5%;
  width: 100%;
  height: 5vh;
  background: #768498;
}
body .details {
  display: none;
  position: absolute;
  background: white;
  border: 5px ridge black;
  width: 60vw;
  height: 80vh;
  left: 35%;
  top: 10%;
  z-index: 100;
}
@media (max-width: 500px) {
  body .details {
    position: fixed;
    left: 0;
    width: 100vw;
  }
}
body .details .items {
  width: 100%;
  height: 100%;
}
#featured {
  position: absolute;
  margin-top: 15vh;
  width: 50vw;
  min-width: 50vw;
  text-align: center;
  padding: 10px;
  background: transparent;
  font-size: 2.3rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
}
@media (max-width: 500px) {
  #featured {
    align-self: center;
    margin-top: 200px;
  }
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e3c6d2;
}
::-webkit-scrollbar {
  height: 20px;
}
::-webkit-scrollbar-thumb {
  border: 7px ridge #768498;
  width: 25px;
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  background: rgba(114, 100, 106, 0.68);
  padding: 10px;
}
