/* Main Primary color */
/* Main Complement color */
.judson-serif {
  font-family: 'Judson', serif;
  color: black;
  text-shadow: 0.15px 1px 0.1px whit;
}
.mon-serif {
  font-family: 'Montserrat', sans-serif;
  color: black;
}
