/* Main Primary color */
/* Main Complement color */
.judson-serif {
  font-family: 'Judson', serif;
  color: black;
  text-shadow: 2px 1px 2px black;
}
.mon-serif {
  font-family: 'Montserrat', sans-serif;
  color: black;
}
